<div class="container">
    <div class="logo">
        <h1>
        <a href="/">
            <img src="../../../../assets/img/logo.png" alt="Darkside">
        </a>
        </h1>
    </div>
    <div class="pesquisa">
        <input type="text" placeholder="Títulos, Autores, Livros, Gêneros e linhas editoriais">
        <button type="submit"><img src="../../../../assets/img/search.png" alt="buscar"></button>
    </div>
    <div class="area_cliente">
        <div class="icon"><a href="#"><img src="../../../../assets/img/skull.png" alt="Login"></a></div>
        <div>
            <p>Olá, Faça login</p>
            <p>Minha conta</p>
        </div>
        <div class="carrinho"><img src="../../../../assets/img/carrinho.png" alt="carrinho"></div>
    </div>
</div>