div {
    display: flex;
    margin: 0 100px;
    justify-content: space-between;
}

nav {
    list-style: none;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    
}

nav li {
    margin: 10px;
    padding: 10px;
    color: white;
    background-color: green;
}