<div class="footerSection">
    <div class="container">
        <div class="central">
            <img src="../../../../assets/footer/neon_darkside_central.gif" alt="central de atendimento">
            <h3>Central de atendimento</h3>
            <button>tire suas dúvidas</button>
        </div>
        <div class="conteudoNav">
            <div class="footerMenus">
                <div class="principalMenu" id="firstMenu">
                    <h3>Privacidade Termos</h3>
                    <li>Política de Pagamento</li>
                    <li>Política de Privacidade</li>
                    <li>Trocas e Devoluções</li>
                    <li>Encontre seu pedido</li>
                    <li>Fale com a caveira</li>
                </div>
                <div class="minorMenu">
                    <h3>Mapa do site</h3>
                    <li>Editora</li>
                    <li>Livros</li>
                    <li>Kits Exclusivos</li>
                    <li>Dark Blog</li>
                </div>
                <div class="minorMenu">
                    <h3>informações</h3>
                    <li>Imprensa</li>
                    <li>Professores</li>
                    <li>Bibliotecas</li>
                    <li>Parceiros</li>
                </div>
                <div class="principalMenu">
                    <h3>DarkSide&copy; LoveMarks</h3>
                    <div id="columns">
                        <div>
                            <li>Medo Clássico</li>
                            <li>Graphic Novel</li>
                            <li>Crime Scene</li>
                            <li>Darklove</li>
                            <li>Macabra</li>
                        </div>
                        <div>
                            <li>Dark Fantasy</li>
                            <li>Cinebook</li>
                            <li>Crânio</li>
                            <li>Caveirinha</li>
                            <li>Fábulas Dark</li>
                        </div>
                    </div>
                </div>
                <div class="principalMenu">
                    <h3>Baixe nosso App</h3>
                    <div id="columns">
                        <div>
                            <img src="../../../../assets/footer/google-play-2021.png" alt="baixe nosso app">
                            <img src="../../../../assets/footer/apptore2021.png" alt="App store">
                        </div>
                        <div id="centralized">
                            <img src="../../../../assets/footer/qrcode2021-site.png" alt="QR code" id="qrcode">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
